@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #1C2135;
    display: flex;
    flex-direction: column;
}

.navigation_bar {
    width: 100%;
    height: max-content;
    background-color: #21293E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20%;
}

.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo_container h1 {
    font-size: 40px;
    font-weight: bolder;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.logo_container img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.navigation_links_container {
    display: flex;
    justify-content: space-between;
    width: max-content;
    gap: 20px;
}

.navigation_links_container a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 5px;
}


#active-link {
    background-image: linear-gradient(to right, #ff0000, #8f00ff);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: 0 100%;
}

.main-content {
    flex: 1;
    overflow-y: scroll;
    background-color: #21293E;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.main-content::-webkit-scrollbar {
    display: none;
}


.explore-section {
    min-height: 100%;
    height: max-content;
    border-top: 1px solid #ffffff20;
    display: flex;
    color: white;
}

.explore-information {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.explore-information h1 {
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 20px;
}

.explore-information p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.explore-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-image-container img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: center;
}




.resources-section {
    height: 100%;
    border-top: 1px solid #ffffff20;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}


.seminars-section {
    height: 100%;
    border-top: 1px solid #ffffff20;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.seminars-section>h1 {
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 20px;
}


.seminars {

    display: flex;
    width: 100%;
    gap: 20px;
    padding: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

.seminars::-webkit-scrollbar {
    display: none;
}

.seminar {
    min-width: 33.33%;
    background-color: #1C2135;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    border-radius: 10px;
}

.seminar h2 {
    text-align: center;
}

.seminar img {
    width: 30%;
}

.tags {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tags p {
    width: max-content;
    /* background-image: linear-gradient(to right, #ff0000, #8f00ff); */
    border: 1px solid #ffffff60;
    padding: 5px 10px;
    border-radius: 10px;
}

.seminar p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.seminar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-bottom: 5px;
    background-image: linear-gradient(to right, #ff0000, #8f00ff);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

.resources-section>h1 {
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 20px;
}

.resources {
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.resources::-webkit-scrollbar {
    display: none;
}

.resource {
    min-width: 33.33%;
    background-color: #1C2135;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    border-radius: 10px;
}

.resource h2 {
    text-align: center;
}

.resource img {
    width: 30%;
}

.resource p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.resource a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-bottom: 5px;
    background-image: linear-gradient(to right, #ff0000, #8f00ff);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: 0% 100%;
}


.mentors-section {
    min-height: 100%;
    height: max-content;
    border-top: 1px solid #ffffff20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.mentors-section>h1 {
    text-align: center;
    font-size: 50px;
}


.mentors {
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.mentors::-webkit-scrollbar {
    display: none;
}

.mentor {
    min-width: 33.33%;
    background-color: #1C2135;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    border-radius: 10px;
}

.mentor iframe {
    width: 100%;
    height: 300px;   
    border-radius: 10px; 
}


/* media query for mobile devices */

@media only screen and (max-width: 756px) {

    .navigation_bar {
        padding: 20px;
        gap: 20px;
    }

    .logo_container img {
        width: 50px;
        height: 50px;
    }

    .logo_container h1 {
        font-size: 20px;
    }


    .navigation_links_container {
        gap: 10px;
    }

    .navigation_links_container a {
        font-size: 16px;
    }


    .explore-section {
        flex-direction: column;
    }

    .explore-information {
        padding: 10px;
    }

    .explore-information h1 {
        font-size: 25px;
    }

    .explore-information p {
        font-size: 16px;
    }

    .explore-image-container {
        height: 300px;
    }

    .explore-image-container img {
        width: 80%;
        height: 80%;
    }

    .seminars-section>h1 {
        font-size: 25px;
    }

    .seminar {
        min-width: 100%;
    }

    .seminar img {
        width: 50%;
    }

    .seminar h2 {
        margin-bottom: 20px;
    }

    .tags {
        flex-direction: column;
    }

    .tags p {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .resources-section>h1 {
        font-size: 25px;
    }

    .resource {
        min-width: 100%;
    }

    .resource img {
        width: 50%;
    }

    .resource h2 {
        margin-bottom: 20px;
    }

    .mentors-section {
        padding: 10px;
    }

    .mentors-section>h1 {
        font-size: 25px;
    }

    .mentors {
        flex: 1;
    }

    .mentor {
        min-width: 100%;
    }

    .mentor img {
        width: 50%;
    }

    .mentor h2 {
        margin-bottom: 20px;
    }

    .mentor iframe {
        flex: 1;
    }




}