@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #1C2135;
    display: flex;
    flex-direction: column;
}

.navigation_bar {
    width: 100%;
    height: max-content;
    background-color: #21293E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20%;
}

.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo_container h1 {
    font-size: 40px;
    font-weight: bolder;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.logo_container img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.navigation_links_container {
    display: flex;
    justify-content: space-between;
    width: max-content;
    gap: 20px;
}

.navigation_links_container a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 5px;
}


#active-link {
    background-image: linear-gradient(to right, #ff0000, #8f00ff);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: 0 100%;
}

.main-content {
    flex: 1;
    overflow-y: scroll;
    background-color: #21293E;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.main-content::-webkit-scrollbar {
    display: none;
}


.banner-section {
    height: 100%;
    display: flex;
}

.banner-text {
    flex: 1;
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.banner-text h1 {
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
}

.banner-text p {
    font-size: 20px;
    line-height: 1.5;
}

.explore-button {
    background-image: linear-gradient(to right, #ff0000, #8f00ff);
    padding: 10px 20px;
    outline: none;
    border: none;
    color: white;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    border-radius: 10px;
}

.banner-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-image img {
    width: 80%;
}

.features-section {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-top: 1px solid #ffffff20;
}

.features-section h1 {
    margin-top: 20px;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
}

.features-section-grid {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    width: 60%;
    margin: auto;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 50px;
    color: white;
    background-color: #1C2135;
    border-radius: 20px;
}

.feature h2 {
    font-size: 26px;
    font-family: 'Quicksand', sans-serif;
}

.feature img {
    width: 50%;
    border-radius: 20px;
}

.feature p {
    font-size: 18px;
    text-align: center;
    display: flex;
}

.feature a {
    display: flex;
    justify-content: center;
    color: transparent;
}






/* media query for mobile devices */

@media only screen and (max-width: 756px) {

    .navigation_bar {
        padding: 20px;
        gap: 20px;
    }

    .logo_container img {
        width: 50px;
        height: 50px;
    }

    .logo_container h1 {
        font-size: 20px;
    }


    .navigation_links_container {
        gap: 10px;
    }

    .navigation_links_container a {
        font-size: 16px;
    }

    .banner-section {
        flex-direction: column;
        overflow-y: hidden;
    }

    .banner-text {
        flex: unset;
        align-items: center;
    }

    .banner-text h1 {
        font-size: 25px;
    }

    .banner-text p {
        font-size: 18px;
    }

    .explore-button {
        font-size: 20px;
    }

    .banner-image {
        flex: 1;
    }

    .banner-image img {
        width: 60%;
    }

    .features-section {
        height: max-content;
    }

    .features-section h1 {
        font-size: 25px;
    }

    .features-section-grid {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .feature {
        padding: 20px;
        border-radius: 20px;
    }

    .feature img {
        width: 100%;
    }

    .feature h2 {
        font-size: 20px;
    }

    .feature p {
        font-size: 16px;
    }


}